/* header */
.header {
	width: 100vw;
	height: calc(32px + 2rem);
	position: fixed;
	z-index: 99;
	box-shadow: 0px 10px 28px 0px rgba(82, 63, 105, 0.08);
	padding: 0 25px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: white;
	font-size: 16px;
	align-items: center;
	justify-content: center;
}

/* main */
.main {
	padding: 75px 25px;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
}

.todo-content {
	width: 100%;
	min-width: 450px;
	max-width: 600px;
	flex-direction: column;
	background-color: #ffffff;
	padding: 25px;
}

.todo-input {
	border-radius: 1rem;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 25px;
	width: 100%;
	box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
	justify-content: space-between;
}

.todo-input>span {
	flex-shrink: 0;
}

.todo-input .input {
	flex-grow: 1;
	margin: 0 5px;
}

.todo-input .todo-icon-select {
	opacity: 0;
	width: 32px;
	height: 32px;
	z-index: 50;
}

.todo-input .icon-option {
	position: relative;
	flex-direction: column;
	left: -5px;
	padding: 5px;
	width: 42px;
	height: calc(10px + 32px * 3);
	border-radius: 0.5rem;
	background-color: white;
	box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
}

.todo-input .icon-option span:hover {
	border-radius: 0.5rem;
	box-shadow: 0px 0px 3px 0px rgba(82, 63, 105, 0.4);
}

.todo-list {
	flex-direction: column;
	justify-content: space-between;
	border-radius: 1rem;
	margin: 0 auto;
	padding: 25px;
	width: 100%;
	box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
}

.todo-list:empty::before {
	content: attr(placeholder);
	display: flex;
	height: 32px;
	color: rgba(0, 0, 0, 0.6);
	align-items: center;
	justify-content: center;
}

.todo {
	align-items: center;
	border-radius: 1rem;
	padding: 20px;
	box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
}

.todo > span:not(.title) {
	width: 32px;
	height: 32px;
	flex-shrink: 0;
}

.todo > span:not(:last-of-type) {
	margin-right: 5px;
}

.todo .title {
	align-items: center;
	height: 32px;
	flex-grow: 1;
}

.todo:not(:last-of-type) {
	margin-bottom: 25px;
}

/* footer */
.footer {
	width: 100vw;
	height: 3rem;
	position: fixed;
	z-index: 100;
	box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
	bottom: 0;
	left: 0;
	padding: 0 25px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: white;
	font-size: 13px;
	-webkit-box-pack: justify !important;
	-ms-flex-pack: justify !important;
	justify-content: space-between !important;
}